################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Content/obj/Windows/Content/spiritbomb.mgcontent
/Content/bin/Windows/Content/spiritbomb.xnb
