################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Content/obj/Windows/Content/LOZ_Text_Slow.mgcontent
/Content/obj/Windows/Content/LOZ_Text.mgcontent
/Content/obj/Windows/Content/LOZ_Sword_Slash.mgcontent
/Content/obj/Windows/Content/LOZ_Sword_Shoot.mgcontent
/Content/obj/Windows/Content/LOZ_Sword_Combined.mgcontent
/Content/obj/Windows/Content/LOZ_Stairs.mgcontent
/Content/obj/Windows/Content/LOZ_Shield.mgcontent
/Content/obj/Windows/Content/LOZ_Secret.mgcontent
/Content/obj/Windows/Content/LOZ_Refill_Loop.mgcontent
/Content/obj/Windows/Content/LOZ_LowHealth.mgcontent
/Content/obj/Windows/Content/LOZ_Link_Hurt.mgcontent
/Content/obj/Windows/Content/LOZ_Link_Die.mgcontent
/Content/obj/Windows/Content/LOZ_Key_Appear.mgcontent
/Content/obj/Windows/Content/LOZ_Get_Rupee.mgcontent
/Content/obj/Windows/Content/LOZ_Get_Item.mgcontent
/Content/obj/Windows/Content/LOZ_Get_Heart.mgcontent
/Content/obj/Windows/Content/LOZ_Fanfare.mgcontent
/Content/obj/Windows/Content/LOZ_Enemy_Hit.mgcontent
/Content/obj/Windows/Content/LOZ_Enemy_Die.mgcontent
/Content/obj/Windows/Content/LOZ_Door_Unlock.mgcontent
/Content/obj/Windows/Content/LOZ_Boss_Scream1.mgcontent
/Content/obj/Windows/Content/LOZ_Boss_Hit.mgcontent
/Content/obj/Windows/Content/LOZ_Bomb_Drop.mgcontent
/Content/obj/Windows/Content/LOZ_Bomb_Blow.mgcontent
/Content/obj/Windows/Content/LOZ_Arrow_Boomerang.mgcontent
/Content/obj/Windows/Content/04 Labyrinth.mgcontent
/Content/bin/Windows/Content/LOZ_Text_Slow.xnb
/Content/bin/Windows/Content/LOZ_Text.xnb
/Content/bin/Windows/Content/LOZ_Sword_Slash.xnb
/Content/bin/Windows/Content/LOZ_Sword_Shoot.xnb
/Content/bin/Windows/Content/LOZ_Sword_Combined.xnb
/Content/bin/Windows/Content/LOZ_Stairs.xnb
/Content/bin/Windows/Content/LOZ_Shield.xnb
/Content/bin/Windows/Content/LOZ_Secret.xnb
/Content/bin/Windows/Content/LOZ_Refill_Loop.xnb
/Content/bin/Windows/Content/LOZ_LowHealth.xnb
/Content/bin/Windows/Content/LOZ_Link_Hurt.xnb
/Content/bin/Windows/Content/LOZ_Link_Die.xnb
/Content/bin/Windows/Content/LOZ_Key_Appear.xnb
/Content/bin/Windows/Content/LOZ_Get_Rupee.xnb
/Content/bin/Windows/Content/LOZ_Get_Item.xnb
/Content/bin/Windows/Content/LOZ_Get_Heart.xnb
/Content/bin/Windows/Content/LOZ_Fanfare.xnb
/Content/bin/Windows/Content/LOZ_Enemy_Hit.xnb
/Content/bin/Windows/Content/LOZ_Enemy_Die.xnb
/Content/bin/Windows/Content/LOZ_Door_Unlock.xnb
/Content/bin/Windows/Content/LOZ_Boss_Scream1.xnb
/Content/bin/Windows/Content/LOZ_Boss_Hit.xnb
/Content/bin/Windows/Content/LOZ_Bomb_Drop.xnb
/Content/bin/Windows/Content/LOZ_Bomb_Blow.xnb
/Content/bin/Windows/Content/LOZ_Arrow_Boomerang.xnb
/Content/bin/Windows/Content/04 Labyrinth.xnb
/Content/bin/Windows/Content/04 Labyrinth.wma
/bin/Debug/netcoreapp3.1/Content/LOZ_Text_Slow.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Text.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Sword_Slash.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Sword_Shoot.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Sword_Combined.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Stairs.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Shield.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Secret.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Refill_Loop.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_LowHealth.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Link_Hurt.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Link_Die.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Key_Appear.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Get_Rupee.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Get_Item.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Get_Heart.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Fanfare.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Enemy_Hit.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Enemy_Die.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Door_Unlock.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Boss_Scream1.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Boss_Hit.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Bomb_Drop.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Bomb_Blow.xnb
/bin/Debug/netcoreapp3.1/Content/LOZ_Arrow_Boomerang.xnb
/bin/Debug/netcoreapp3.1/Content/04 Labyrinth.xnb
/bin/Debug/netcoreapp3.1/Content/04 Labyrinth.wma
/.gitignore
